<footer class="site-footer">
  <div class="wrapper">
    <!-- hypercomments -->

    <!-- hypercomments -->

    <!-- Google Analitics -->

    <!-- Google Analitics -->

    <div align="center">
      {% if page.keywords %}
      <p>
        <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
        truncate: 160 }} {% endif %}
      </p>
    </div>

    <h2 class="footer-heading">Matematika ENG 2020</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p class="text">
          Opensource project with codes on
          <a
            href="https://github.com/matematika-org/matematika.net"
            rel="nofollow"
            >github</a
          >.

          <br />

          Telegram chatting group: matematika_eng
        </p>
      </div>
    </div>
  </div>
</footer>
